<div class="userview-form">
  <h2>Welcome {{name}}, </h2>
  <h3>Here is all your reservation:</h3>
    {{#each reservation}}
      <a class = "rsv-link" name={{id}}>{{id}}. <br> DATE: {{reservation_date}} <br> TIME:
        {{reservation_time}} <br> LOCATION:{{Owner.restaurant_name}}</a>
    {{/each}}
</div>

<script src="/js/seeallreservation.js"></script>